Repository nashtech-garage/yas: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Customer, Build Customer, Test Cart, Build Cart, Test Order, Build Order, Test Product, Build Product, Test Inventory, Build Inventory, Test Payment, Build Payment, Test Payment-Paypal, Build Payment-Paypal, Test Location, Build Location, Test Media, Build Media, Test Promotion, Build Promotion, Test Rating, Build Rating, Test Search, Build Search, Test Tax, Build Tax, Test Webhook, Build Webhook, Test Recommendation, Build Recommendation, Test Delivery, Build Delivery, Test Backoffice-BFF, Build Backoffice-BFF, Test Storefront-BFF, Build Storefront-BFF, Test Common-Library, Build Common-Library, Test Sampledata, Build Sampledata

Test Customer:
              steps {
                  dir('customer') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Customer:
              steps {
                  dir('customer') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Cart:
              steps {
                  dir('cart') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Cart:
              steps {
                  dir('cart') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Order:
              steps {
                  dir('order') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Order:
              steps {
                  dir('order') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Product:
              steps {
                  dir('product') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Product:
              steps {
                  dir('product') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Inventory:
              steps {
                  dir('inventory') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Inventory:
              steps {
                  dir('inventory') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Payment:
              steps {
                  dir('payment') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Payment:
              steps {
                  dir('payment') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

Test Payment-Paypal:
              steps {
                  dir('payment-paypal') {
                      sh 'chmod +x ./mvnw'
                      sh './mvnw clean verify'
                  }
              }
              post {
                  always {
  ...

Build Payment-Paypal:
              steps {
                  dir('payment-paypal') {
                      sh './mvnw package -DskipTests'
                  }
              }
          

remove install common-library
  Jenkinsfile
Due: none

fix: re-add Install Common-Library stage (required for customer test-jar dep)
  Jenkinsfile
Due: none

fix: add correct context to githubNotify for branch status reporting
  Jenkinsfile
Due: none

update webhook
  Jenkinsfile
Due: none

update commit
  Jenkinsfile
Due: none

feature/update-jenkinsfile
  Jenkinsfile
Due: none

feature/update-jenkinsfile-2
  Jenkinsfile
Due: none

add unit tests for customer and user address services
  customer/src/test/java/com/yas/customer/service/CustomerServiceTest.java
  customer/src/test/java/com/yas/customer/service/UserAddressServiceTest.java
Due: Test Customer, Build Customer

feat: integrate sonarcloud security scan for customer service
  Jenkinsfile
  customer/pom.xml
Due: Test Customer, Build Customer

fix: optimize pipeline resources for sonarcloud
  Jenkinsfile
Due: none

trigger: run full pipeline for customer service
  customer/pom.xml
Due: Test Customer, Build Customer

test(tax): unit test for tax service
  tax/src/test/java/com/yas/tax/controller/TaxClassControllerTest.java
  tax/src/test/java/com/yas/tax/controller/TaxRateControllerTest.java
  tax/src/test/java/com/yas/tax/service/TaxClassServiceTest.java
  tax/src/test/java/com/yas/tax/service/TaxServiceTest.java
  tax/src/test/java/com/yas/tax/utils/MessagesUtilsTest.java
  tax/src/test/java/com/yas/tax/viewmodel/error/ErrorVmTest.java
Due: Test Tax, Build Tax

ci: enable workflows and security scanners for all branches
  .github/workflow-template.yaml
  .github/workflows/backoffice-bff-ci.yaml
  .github/workflows/backoffice-ci.yaml
  .github/workflows/cart-ci.yaml
  .github/workflows/charts-ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/customer-ci.yaml
  .github/workflows/gitleaks-check.yaml
  .github/workflows/media-ci.yaml
  .github/workflows/product-ci.yaml
  .github/workflows/storefront-bff-ci.yaml
  .github/workflows/storefront-ci.yaml
  docs/README.md
Due: none

test: add comprehensive tests for common-library to achieve 70% coverage
  common-library/src/test/java/com/yas/commonlibrary/exception/ApiExceptionHandlerTest.java
  common-library/src/test/java/com/yas/commonlibrary/exception/ExceptionsTest.java
  common-library/src/test/java/com/yas/commonlibrary/kafka/cdc/BaseCdcConsumerTest.java
  common-library/src/test/java/com/yas/commonlibrary/kafka/cdc/message/KafkaMessageModelsTest.java
  common-library/src/test/java/com/yas/commonlibrary/utils/DateTimeUtilsTest.java
  common-library/src/test/java/com/yas/commonlibrary/viewmodel/error/ErrorVmTest.java
  pom.xml
Due: Test Common-Library, Build Common-Library

add test payment to make converage 70%
  Jenkinsfile
  payment/src/test/java/com/yas/payment/controller/PaymentControllerTest.java
  payment/src/test/java/com/yas/payment/controller/PaymentProviderControllerTest.java
  payment/src/test/java/com/yas/payment/mapper/CreatePaymentProviderMapperImplTest.java
  payment/src/test/java/com/yas/payment/mapper/PaymentProviderMapperImplTest.java
  payment/src/test/java/com/yas/payment/mapper/UpdatePaymentProviderMapperImplTest.java
  payment/src/test/java/com/yas/payment/model/InitiatedPaymentTest.java
  payment/src/test/java/com/yas/payment/model/PaymentProviderTest.java
  payment/src/test/java/com/yas/payment/model/PaymentTest.java
  payment/src/test/java/com/yas/payment/model/enumeration/PaymentMethodTest.java
  payment/src/test/java/com/yas/payment/model/enumeration/PaymentStatusTest.java
  payment/src/test/java/com/yas/payment/service/AbstractCircuitBreakFallbackHandlerTest.java
  payment/src/test/java/com/yas/payment/service/PaymentServiceTest.java
  payment/src/test/java/com/yas/payment/service/provider/handler/PaypalHandlerTest.java
  payment/src/test/java/com/yas/payment/utils/ConstantsTest.java
  payment/src/test/java/com/yas/payment/utils/MessagesUtilsTest.java
  payment/src/test/java/com/yas/payment/viewmodel/CapturePaymentRequestVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/CapturePaymentResponseVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/CheckoutStatusVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/ErrorVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/InitPaymentRequestVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/InitPaymentResponseVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/PaymentOrderStatusVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/paymentprovider/CreatePaymentVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/paymentprovider/PaymentProviderReqVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/paymentprovider/PaymentProviderVmTest.java
  payment/src/test/java/com/yas/payment/viewmodel/paymentprovider/UpdatePaymentVmTest.java
Due: Test Payment, Build Payment

add test payment to make converage 70% part 2
  Jenkinsfile
Due: none

added enabling of jacoco plugin to pom.xml
  pom.xml
Due: none

temporary: added coverage report to cart-ci
  .github/workflows/cart-ci.yml
Due: none

changed jacoco coverage success threshold to 0
  pom.xml
Due: none

removed mandatory 0.7 coverage from pom.xml
  pom.xml
Due: none

temporary: added seperate coverage check to cart-ci
  .github/workflows/cart-ci.yml
Due: none

temporary: changed coverage check to only let 70% or more coverage pass
  .github/workflows/cart-ci.yml
Due: none

fix 2 pipeline use the same port
  docker-compose.search.yml
  log.txt
Due: none

added jacoco coverage report and 70 percent enforcement to all but the backoffice and storefront
  .github/workflows/backoffice-bff-ci.yml
  .github/workflows/cart-ci.yml
  .github/workflows/common-library-ci.yml
  .github/workflows/customer-ci.yml
  .github/workflows/delivery-ci.yml
  .github/workflows/inventory-ci.yml
  .github/workflows/location-ci.yml
  .github/workflows/media-ci.yml
  .github/workflows/order-ci.yml
  .github/workflows/payment-ci.yml
  .github/workflows/payment-paypal-ci.yml
  .github/workflows/product-ci.yml
  .github/workflows/promotion-ci.yml
  .github/workflows/rating-ci.yml
  .github/workflows/recommendation-ci.yml
  .github/workflows/sampledata-ci.yml
  .github/workflows/search-ci.yml
  .github/workflows/storefront-bff-ci.yml
  .github/workflows/tax-ci.yml
  .github/workflows/webhook-ci.yml
Due: none

fixed title for common-library step
  .github/workflows/common-library-ci.yml
Due: none

fix port 9200
  search/src/it/java/com/yas/search/config/ElasticTestContainer.java
Due: Test Search, Build Search

downloaded more ram for the vm running search-ci
  .github/workflows/search-ci.yml
Due: none

test
  log.txt
Due: none

make random port
  search/src/it/java/com/yas/search/config/ElasticTestContainer.java
Due: Test Search, Build Search

make random port 2
  log.txt
Due: none

testing action-junit-report for search-ci
  .github/workflows/search-ci.yml
Due: none

fix test elassticsearch
  search/src/it/java/com/yas/search/config/KafkaIntegrationTestConfiguration.java
  search/src/it/java/com/yas/search/config/SearchTestConfig.java
Due: Test Search, Build Search

adding 256mb ram limit to elasticTestContainer
  search/src/it/java/com/yas/search/config/ElasticTestContainer.java
Due: Test Search, Build Search

disabling some tests that outright uses all of the resources
  search/src/it/java/com/yas/search/controller/ProductControllerIT.java
  search/src/it/java/com/yas/search/kafka/ProductCdcConsumerTest.java
Due: Test Search, Build Search

fix sonar with 2 jobs
  Jenkinsfile
Due: none

a
  log.txt
Due: none

fix rule of non-main branch
  Jenkinsfile
Due: none

remove sonar step
  .env
  .github/workflows/order-ci.yaml
Due: none

test hahah
  .github/workflows/order-ci.yaml
Due: none

ci: add Jenkinsfile
  Jenkinsfile
Due: none

Path conditions:
  Test Customer: any of: customer/**
  Build Customer: any of: customer/**
  Test Cart: any of: cart/**
  Build Cart: any of: cart/**
  Test Order: any of: order/**
  Build Order: any of: order/**
  Test Product: any of: product/**
  Build Product: any of: product/**
  Test Inventory: any of: inventory/**
  Build Inventory: any of: inventory/**
  Test Payment: any of: payment/**
  Build Payment: any of: payment/**
  Test Payment-Paypal: any of: payment-paypal/**
  Build Payment-Paypal: any of: payment-paypal/**
  Test Location: any of: location/**
  Build Location: any of: location/**
  Test Media: any of: media/**
  Build Media: any of: media/**
  Test Promotion: any of: promotion/**
  Build Promotion: any of: promotion/**
  Test Rating: any of: rating/**
  Build Rating: any of: rating/**
  Test Search: any of: search/**
  Build Search: any of: search/**
  Test Tax: any of: tax/**
  Build Tax: any of: tax/**
  Test Webhook: any of: webhook/**
  Build Webhook: any of: webhook/**
  Test Recommendation: any of: recommendation/**
  Build Recommendation: any of: recommendation/**
  Test Delivery: any of: delivery/**
  Build Delivery: any of: delivery/**
  Test Backoffice-BFF: any of: backoffice-bff/**
  Build Backoffice-BFF: any of: backoffice-bff/**
  Test Storefront-BFF: any of: storefront-bff/**
  Build Storefront-BFF: any of: storefront-bff/**
  Test Common-Library: any of: common-library/**
  Build Common-Library: any of: common-library/**
  Test Sampledata: any of: sampledata/**
  Build Sampledata: any of: sampledata/**
